.navButton{
    color: white;
}

.bkElements{
    margin: 0 !important;
    padding:0 px;
    color: black;
}

.wrapper{
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 3px
}

/* Page 3 */

/* Music Selections*/
.is-scrollable{
    overflow: scroll;
    width: auto;
} 
