.navButton{
    color: white;
    width: max-content;
}

#blankModal{
    color: #A62700;
    font-size: 15px;
    margin: 10px;
}

.bkElements{
    margin: 0 !important;
    padding:0;
    color: black;
}

.wrapperPg2{
    background-color: rgb(241, 241, 241);
    min-width: 100%;
    border-radius: 5px;
}

.bkImg{
    height: 100px;
}

.bkTitle{
    font-size: 23px;
}

.bkInfo{
    margin-top: 0;
    padding-top: 0;
}

.bkResults{
    text-align: left;
    height: fit-content;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(241, 241, 241);
    min-width: 100%;
}

/* Page 3 */

/* Music Selections*/
.is-scrollable{
    overflow: scroll;
    width: auto;
} 
