.navButton{
    color: white;
}

.bkElements{
    margin: 0 !important;
    padding:0;
    color: black;
}

.wrapperPg2{
    background-color: rgb(241, 241, 241);
    min-width: 100%;
    padding: 12px;
    border-radius: 3px;
}

.bkResults{
    text-align: left;
    height: fit-content;
    background-color: rgb(241, 241, 241);
}


/* Page 3 */

/* Music Selections*/
.is-scrollable{
    overflow: scroll;
    width: auto;
} 
